* {
  margin: auto;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;

}

.movie {
  display: flex;
}

.movie img {
  height: 400px;
  width: 200px;
  margin: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}